In [1]:
import os

import pandas as pd
from pandas_profiling import ProfileReport
import duckdb

con = duckdb.connect()

In [2]:
for i in range(10):
    cwd = os.getcwd()
    r, c = os.path.split(cwd)
    if c == 'repo':
        print(f'new working dir: {cwd}')
        break
    os.chdir(r)

new working dir: c:\Users\aknof\Documents\GT\CSE_6250_BD4H\Project\repo

In [27]:
def profile(file_name, df=None, file_dir='data', sep=",", header='infer', names=None, index_col=True):
    if df is None:
        data_file = os.path.join(file_dir, file_name)
        print('loading file...')
        df = pd.read_csv(data_file, sep=sep, header=header, names=names, index_col=index_col)
    title = file_name.split('.')[0]
    print('creating report...')
    profile = ProfileReport(df, title=title)
    
    pro_file = os.path.join('profiling', f'{title}.html')
    print('writing report file...')
    profile.to_file(pro_file)
    print('completed!')

In [27]:
profile('CPTEVENTS.csv')

C:\Users\aknof\AppData\Local\Temp\ipykernel_6000\1820255071.py:3: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_file)
Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\multimethod\__init__.py:184: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  return self[tuple(map(self.get_type, args))](*args, **kwargs)
Summarize dataset:  54%|█████▍    | 13/24 [00:14<00:05,  2.06it/s, Calculate auto correlation]        c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\pandas_profiling\model\correlations.py:67: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'No data; `observed` has size 0.')
  warnings.warn(
Summarize dataset:  58%|█████▊    | 14/24 [00:23<00:04,  2.06it/s, Calculate spearman correlation]c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\multimethod\__init__.py:184: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return self[tuple(map(self.get_type, args))](*args, **kwargs)
Summarize dataset:  67%|██████▋   | 16/24 [00:25<00:14,  1.78s/it, Calculate kendall correlation] c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\scipy\stats\_stats_py.py:5218: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))
Summarize dataset: 100%|██████████| 53/53 [01:26<00:00,  1.62s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:11<00:00, 11.73s/it]
Render HTML: 100%|██████████| 1/1 [00:05<00:00,  5.16s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 45.49it/s]

In [28]:
profile('DIAGNOSES_ICD.csv')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\multimethod\__init__.py:184: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  return self[tuple(map(self.get_type, args))](*args, **kwargs)
Summarize dataset:  41%|████      | 7/17 [00:05<00:06,  1.64it/s, Calculate spearman correlation]c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\multimethod\__init__.py:184: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return self[tuple(map(self.get_type, args))](*args, **kwargs)
Summarize dataset: 100%|██████████| 37/37 [00:21<00:00,  1.69it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:04<00:00,  4.15s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.80s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 89.39it/s]

In [29]:
profile('PROCEDURES_ICD.csv')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]c:\Users\aknof\.conda\envs\bdproj310\lib\site-packages\multimethod\__init__.py:184: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  return self[tuple(map(self.get_type, args))](*args, **kwargs)
Summarize dataset: 100%|██████████| 44/44 [00:15<00:00,  2.82it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:04<00:00,  4.95s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.27s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 34.42it/s]

In [3]:
note_file = os.path.join('data', 'NOTEEVENTS.csv')
df_note = pd.read_csv(note_file)
df_note.head()

C:\Users\aknof\AppData\Local\Temp\ipykernel_9752\3997649390.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_note = pd.read_csv(note_file)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [19]:
df_note.loc[0, 'TEXT']

'Admission Date:  [**2151-7-16**]       Discharge Date:  [**2151-8-4**]\n\n\nService:\nADDENDUM:\n\nRADIOLOGIC STUDIES:  Radiologic studies also included a chest\nCT, which confirmed cavitary lesions in the left lung apex\nconsistent with infectious process/tuberculosis.  This also\nmoderate-sized left pleural effusion.\n\nHEAD CT:  Head CT showed no intracranial hemorrhage or mass\neffect, but old infarction consistent with past medical\nhistory.\n\nABDOMINAL CT:  Abdominal CT showed lesions of\nT10 and sacrum most likely secondary to osteoporosis. These can\nbe followed by repeat imaging as an outpatient.\n\n\n\n                            [**First Name8 (NamePattern2) **] [**First Name4 (NamePattern1) 1775**] [**Last Name (NamePattern1) **], M.D.  [**MD Number(1) 1776**]\n\nDictated By:[**Hospital 1807**]\nMEDQUIST36\n\nD:  [**2151-8-5**]  12:11\nT:  [**2151-8-5**]  12:21\nJOB#:  [**Job Number 1808**]\n'

In [25]:
con.execute("""
select count(*) total_records
,count(distinct subject_id) patient_count
,count(distinct hadm_id) admission_count
,avg(len(text)) avg_note_len
,stddev(len(text)) std_dev_note_len
from df_note
""").df().head()

,total_records,patient_count,admission_count,avg_note_len,std_dev_note_len
0,2083180,46146,58361,1826.011574,2510.938902

In [8]:
con.execute("""
with patient as (
select count(*) total_records
,count(distinct hadm_id) admission_count
,avg(len(text)) avg_note_len
,min(len(text)) min_note_len
,max(len(text)) max_note_len
from df_note
group by subject_id
)
select avg(total_records) avg_pat_rec
,stddev(total_records) std_dev_pat_rec
,avg(admission_count) avg_pat_adm
,stddev(admission_count) as std_dev_pat_adm
,stddev(avg_note_len) as std_dev_pat_note
,avg(avg_note_len) as avg_pat_note
,avg(min_note_len) as avg_min_pat_note
,stddev(min_note_len) as std_dev_min_pat_note
,avg(max_note_len) as avg_max_pat_note
,stddev(max_note_len) as std_dev_max_pat_note
from patient
""").df().head()

,avg_pat_rec,std_dev_pat_rec,avg_pat_adm,std_dev_pat_adm,std_dev_pat_note,avg_pat_note,avg_min_pat_note,std_dev_min_pat_note,avg_max_pat_note,std_dev_max_pat_note
0,45.143241,77.89006,1.264703,0.892288,988.949561,1860.636048,183.288844,441.5194,9792.591384,5818.693791