In [8]:
import os, json

import pandas as pd
import duckdb
import swifter

In [ ]:
MAX_TEXT_LEN_ALLOWED = 10000

In [2]:
for i in range(10):
    cwd = os.getcwd()
    r, c = os.path.split(cwd)
    if c == 'repo':
        print(f'new working dir: {cwd}')
        break
    os.chdir(r)

new working dir: c:\Users\aknof\Documents\GT\CSE_6250_BD4H\Project\repo

In [3]:
data_file = os.path.join('data', 'NOTEEVENTS.csv')
df = pd.read_csv(data_file)
df.head()

C:\Users\aknof\AppData\Local\Temp\ipykernel_5116\876603029.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_file)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [4]:
con = duckdb.connect()

In [5]:
df_input = con.execute("""
select ROW_ID 
,SUBJECT_ID
,0 as chunk
,len(TEXT) lt
,TEXT
from df
order by lt desc
""").df()
df_input.head()

,ROW_ID,SUBJECT_ID,chunk,lt,TEXT
0,53810,93321,0,55728,Admission Date: [**2128-3-24**] ...
1,37847,42842,0,53330,Admission Date: [**2199-10-2**] ...
2,23428,43126,0,53169,Admission Date: [**2124-3-1**] D...
3,25215,5962,0,52508,Admission Date: [**2195-9-24**] ...
4,1484,66807,0,50663,Admission Date: [**2199-5-5**] D...

In [8]:
con.execute("""
select count(*)
from df_input
where lt > 10000
""").df()

   count_star()
0         40006

In [6]:
sql_chunk = f"""
{{union}}
select row_id
, subject_id
, {{chunk_num}} as chunk_num
, substring(text, chunk_window * {{chunk_num}}, {MAX_TEXT_LEN_ALLOWED}) as chunk_text
from par
where num_ch > {{chunk_num}}
"""

In [29]:
con.execute(f"""
select row_id
, subject_id
, lt
, cast(lt / {MAX_TEXT_LEN_ALLOWED} as int) + 1 num_ch
, lt / cast(cast(lt / {MAX_TEXT_LEN_ALLOWED} as int) + 1 as int) chunk_window
, text
from df_input
order by lt desc
limit 10
""").df()

,ROW_ID,SUBJECT_ID,lt,num_ch,chunk_window,TEXT
0,53810,93321,55728,6,9288,Admission Date: [**2128-3-24**] ...
1,37847,42842,53330,6,8888,Admission Date: [**2199-10-2**] ...
2,23428,43126,53169,6,8861,Admission Date: [**2124-3-1**] D...
3,25215,5962,52508,6,8751,Admission Date: [**2195-9-24**] ...
4,1484,66807,50663,6,8443,Admission Date: [**2199-5-5**] D...
5,34099,28941,50035,6,8339,Admission Date: [**2144-7-16**] ...
6,48774,51821,49417,5,9883,Admission Date: [**2160-10-9**] ...
7,42609,45317,47791,5,9558,Admission Date: [**2118-4-18**] ...
8,20493,55186,47181,5,9436,Admission Date: [**2121-4-27**] ...
9,19420,91074,46786,5,9357,Admission Date: [**2192-2-22**] ...

In [7]:
df_split = con.execute(f"""
with par as (
select row_id
, subject_id
, lt
, cast(lt / 10000 as int) + 1 num_ch
, lt / cast(cast(lt / {MAX_TEXT_LEN_ALLOWED} as int) + 1 as int) chunk_window
, text
from df_input
)
{sql_chunk.format(union='', chunk_num=0)}
{sql_chunk.format(union='union all', chunk_num=1)}
{sql_chunk.format(union='union all', chunk_num=2)}
{sql_chunk.format(union='union all', chunk_num=3)}
{sql_chunk.format(union='union all', chunk_num=4)}
{sql_chunk.format(union='union all', chunk_num=5)}
{sql_chunk.format(union='union all', chunk_num=6)}

""").df()
df_split.head()

,ROW_ID,SUBJECT_ID,chunk_num,chunk_text
0,53810,93321,0,Admission Date: [**2128-3-24**] ...
1,37847,42842,0,Admission Date: [**2199-10-2**] ...
2,23428,43126,0,Admission Date: [**2124-3-1**] D...
3,25215,5962,0,Admission Date: [**2195-9-24**] ...
4,1484,66807,0,Admission Date: [**2199-5-5**] D...

In [9]:
df_split.count()

ROW_ID        2126293
SUBJECT_ID    2126293
chunk_num     2126293
chunk_text    2126293
dtype: int64

In [37]:
con.execute(f"""
select max(len(chunk_text)) ml from df_split
""").df()

      ml
0  10000

In [40]:
con.execute(f"""
select chunk_num
, count(*) cnt
, avg(len(chunk_text)) avg_len
, max(len(chunk_text)) max_len
from df_split
group by chunk_num
order by 1
""").df()

   chunk_num      cnt      avg_len  max_len
0          0  2083180  1756.202070     9999
1          1    40016  6664.603084    10000
2          2     2747  7967.333819    10000
3          3      297  8637.542088    10000
4          4       47  8793.234043    10000
5          5        6  8764.833333     9289

In [12]:
records = df_split.to_json(orient="records")
parsed = json.loads(records)
parsed[0]

{'ROW_ID': 53810,
 'SUBJECT_ID': 93321,
 'chunk_num': 0,
 'chunk_text': 'Admission Date:  [**2128-3-24**]              Discharge Date:   [**2128-10-17**]\n\nDate of Birth:  [**2066-4-14**]             Sex:   M\n\nService: MEDICINE\n\nAllergies:\nNo Known Allergies / Adverse Drug Reactions\n\nAttending:[**First Name3 (LF) 2712**]\nChief Complaint:\nFatigue/Shortness of Breath\n\nMajor Surgical or Invasive Procedure:\nRight PICC placement [**2128-3-25**]\nCentral line placement [**2128-3-25**]\nBone marrow biopsy [**2128-3-25**]\nLeft subclavian central line placement [**2128-3-26**]\nBone marrow biopsy [**2128-4-8**]\nLeft PICC placement [**2128-4-10**]\nLeft internal jugular central line placement [**2128-4-20**]\nBone marrow biopsy [**2128-5-7**]\nBone marrow biopsy [**2128-5-27**]\nBone marrow biopsy [**2128-6-9**]\nBronchoscopy [**2128-6-10**]\nBone Marrow Biopsy on [**2128-6-29**]\nPercutaneous cholecystostomy tube placement [**2128-8-9**]\nPICC placement on [**2128-8-14**]\n\n\nHistory of Present Illness:\nMr. [**Known lastname 74075**] is a 61 yo M with PMH of hyperlipidemia presenting\nwith 1-2 months of progressive fatigue and DOE. Patient reported\nworsening fatigue/DOE in last few months to the point where it\nwas interfering with his ADLs. Pt was feeling lightheaded and\npalpitations when standing up. He presented to [**Hospital3 7569**]\non [**3-24**] and found to have HCT of 10% and WBC of 99,000. Given 1L\nNS and 1 unit pRBCs and transferred to [**Hospital1 18**] for further\nevaluation and management.\n\nPatient denied fevers or night sweats but does endorse\nintermittently feeling hot/cold.  Also endorsed anorexia and\npoor PO intake for one week.  Complained of 50 lb weight loss in\nabout 6 months.  He had nausea and dry heaving one day prior to\nDOE, no vomiting. Also had constipation for two weeks.\n\nIn the ED inital vitals were, 99.3 98 113/58 16 99% on RA.\nHeme/onc was consulted and patient was admitted to the ICU.\n\nOn arrival to the ICU, patient complained of mild headache, no\nvisual changes, numbness or other symptoms.\n\nPast Medical History:\nHyperlipidemia\nHepatosteatosis\n?Kidney stones\n\nSocial History:\nWorked in construction in the past, unclear exposure to\nchemicals. Last worked in [**2110**], for the State. He is widowed,\ncurrently lives with girlfriend Girlfriend [**Name (NI) 553**] [**Name (NI) 496**] (HCP)\n[**Telephone/Fax (1) 110427**].  Has 1 daughter who he is not in communication\nwith.\nQuestionable history of criminal record for armed robbery.\nTOBACCO: smoked 1-1.5 ppd for ~40 years, quit in [**2128-1-4**]\nETOH: used to drink [**7-11**] drinks/week, none recently\nILLICITS: tried "different things" in the past, denies IV drug\nuse. None currently.\n\nFamily History:\nDenies family history of leukemia, lymphoma or other\nmalignancies, but his family did not speak much of their\nhistory. Has 1 sister with whom he does not speak.\n\nPhysical Exam:\nADMISSION EXAM:\nGeneral: very pale appearing male. alert, oriented to\nperson/date, knows he\'s in [**Location (un) 86**] and in a hospital, no acute\ndistress. speaking in full sentences.\nHEENT: Anicteric sclera, MM dry, oropharynx clear\nNeck: supple, JVP not elevated, no LAD\nLungs: Clear to auscultation bilaterally, no wheezes, rales,\nrhonchi\nCV: Regular rate and rhythm, normal S1 + S2, III/VI systolic\nmurmur best heard at LLSB and axilla. No rubs, gallops\nAbdomen: soft, slightly tender to palpation on RUQ,\nnon-distended, bowel sounds present, no rebound tenderness or\nguarding, no organomegaly\nGU: no foley\nExt: warm, well perfused, palpable DP bilaterally, no clubbing,\ncyanosis or edema\nNeuro: PERRL, EOMI without nystagmus, sensation intact to light\ntouch in V1-V3 distribution, able to keep eyes closed to\nresistance, hearing intact to finger rubbing bilaterally, tongue\nmidline and palates elevate equally. SCM and trapezius [**5-8**]\nbilaterally.\nMotor: [**5-8**] in elbow flexor/extensor, finger grips, [**5-8**] in hip\nflexors, knee flexors/extensors, ankle plantar\nflexor/dorsiflexor.\nReflexes: 1+ in biceps and patellar bilaterally\n[**Doctor First Name **] intact bilaterally\ngait deferred\n\nDISCHARGE EXAM:\n\nPertinent Results:\nADMISSION LABS:\n===============\n[**2128-3-24**] 10:45PM BLOOD WBC-68.5* RBC-0.97* Hgb-3.3* Hct-10.3*\nMCV-106* MCH-33.9* MCHC-32.0 RDW-20.3* Plt Ct-85*\n[**2128-3-24**] 10:45PM BLOOD Neuts-0* Bands-0 Lymphs-4* Monos-0 Eos-0\nBaso-0 Atyps-0 Metas-0 Myelos-0 Other-96*\n[**2128-3-24**] 10:45PM BLOOD PT-14.9* PTT-37.1* INR(PT)-1.4*\n[**2128-3-24**] 10:45PM BLOOD Fibrino-426*\n[**2128-3-24**] 10:45PM BLOOD Glucose-126* UreaN-19 Creat-1.4* Na-138\nK-3.8 Cl-105 HCO3-23 AnGap-14\n[**2128-3-24**] 10:45PM BLOOD ALT-15 AST-26 LD(LDH)-304* CK(CPK)-66\nAlkPhos-73 TotBili-0.6\n[**2128-3-24**] 10:45PM BLOOD Albumin-3.9 Calcium-8.1* Phos-3.5 Mg-2.5\nUricAcd-8.6*\n\nCBC TREND:\n==========\n[**2128-3-24**] 10:45PM BLOOD Neuts-0* Bands-0 Lymphs-4* Monos-0 Eos-0\nBaso-0 Atyps-0 Metas-0 Myelos-0 Other-96*\n[**2128-3-25**] 07:57AM BLOOD WBC-53.2* RBC-1.40*# Hgb-4.5* Hct-14.0*#\nMCV-100* MCH-32.2* MCHC-32.1 RDW-20.5* Plt Ct-80*\n[**2128-3-26**] 01:58AM BLOOD WBC-45.4* RBC-2.11* Hgb-6.9* Hct-20.1*\nMCV-96 MCH-32.6* MCHC-34.1 RDW-19.6* Plt Ct-61*\n[**2128-3-27**] 06:00AM BLOOD WBC-17.5* RBC-2.24* Hgb-7.2* Hct-21.3*\nMCV-95 MCH-32.0 MCHC-33.6 RDW-18.8* Plt Ct-46*\n[**2128-3-31**] 12:00AM BLOOD WBC-1.2* RBC-2.40* Hgb-7.7* Hct-22.6*\nMCV-94 MCH-32.1* MCHC-34.1 RDW-16.3* Plt Ct-12*#\n[**2128-4-4**] 04:10AM BLOOD WBC-.6* RBC-2.28* Hgb-7.1* Hct-21.0*\nMCV-92 MCH-31.0 MCHC-33.6 RDW-15.3 Plt Ct-8*\n[**2128-4-10**] 06:35AM BLOOD WBC-0.5* RBC-2.64* Hgb-8.0* Hct-22.8*\nMCV-86 MCH-30.1 MCHC-34.9 RDW-14.5 Plt Ct-9*#\n[**2128-4-14**] 12:00AM BLOOD WBC-0.6* RBC-2.76* Hgb-8.3* Hct-23.4*\nMCV-85 MCH-30.0 MCHC-35.4* RDW-14.4 Plt Ct-13*\n[**2128-4-20**] 12:10PM BLOOD WBC-0.6* RBC-2.95* Hgb-8.6* Hct-25.2*\nMCV-85 MCH-29.1 MCHC-34.1 RDW-14.0 Plt Ct-43*\n[**2128-4-27**] 12:00AM BLOOD WBC-0.4* RBC-2.52* Hgb-7.3* Hct-20.6*\nMCV-82 MCH-29.1 MCHC-35.6* RDW-13.3 Plt Ct-9*\n[**2128-5-4**] 12:00AM BLOOD WBC-0.4* RBC-2.65* Hgb-7.7* Hct-21.3*\nMCV-80* MCH-29.0 MCHC-36.1* RDW-13.1 Plt Ct-6*#\n[**2128-5-7**] 12:00AM BLOOD WBC-0.4* RBC-2.84* Hgb-8.3* Hct-22.8*\nMCV-80* MCH-29.3 MCHC-36.5* RDW-13.0 Plt Ct-18*\n[**2128-5-13**] 12:23PM BLOOD WBC-0.8* RBC-2.84* Hgb-8.1* Hct-22.8*\nMCV-80* MCH-28.7 MCHC-35.7* RDW-13.0 Plt Ct-23*\n[**2128-5-21**] 12:00AM BLOOD WBC-0.2* RBC-2.77* Hgb-8.1* Hct-21.8*\nMCV-79* MCH-29.3 MCHC-37.2* RDW-12.7 Plt Ct-23*\n[**2128-5-25**] 12:00AM BLOOD WBC-0.2* RBC-2.59* Hgb-7.4* Hct-20.6*\nMCV-80* MCH-28.5 MCHC-35.8* RDW-12.9 Plt Ct-13*\n[**2128-6-1**] 12:00AM BLOOD WBC-0.2* RBC-2.65* Hgb-7.7* Hct-21.2*\nMCV-80* MCH-29.2 MCHC-36.4* RDW-13.0 Plt Ct-16*\n[**2128-6-6**] 12:00AM BLOOD WBC-0.3* RBC-2.66* Hgb-7.5* Hct-21.0*\nMCV-79* MCH-28.2 MCHC-35.7* RDW-12.7 Plt Ct-7*\n[**2128-6-13**] 12:00AM BLOOD WBC-0.2* RBC-2.54* Hgb-7.5* Hct-20.4*\nMCV-80* MCH-29.6 MCHC-36.8* RDW-13.4 Plt Ct-15*\n[**2128-6-20**] 12:00AM BLOOD WBC-0.3* RBC-2.63* Hgb-7.6* Hct-21.6*\nMCV-82 MCH-28.7 MCHC-35.1* RDW-13.2 Plt Ct-12*\n50* Hgb-7.6* Hct-20.9* MCV-84 MCH-30.2 MCHC-36.2* RDW-13.9 Plt\nCt-17*\n[**2128-7-17**] 01:19AM BLOOD WBC-0.9* RBC-2.39* Hgb-7.0* Hct-20.0*\nMCV-84 MCH-29.2 MCHC-34.9 RDW-13.7 Plt Ct-26*\n[**2128-7-23**] 12:00AM BLOOD WBC-0.5* RBC-2.76* Hgb-8.4* Hct-22.5*\nMCV-82 MCH-30.5 MCHC-37.4* RDW-13.4 Plt Ct-44*\n[**2128-7-27**] 12:00AM BLOOD WBC-0.1* RBC-2.53* Hgb-7.4* Hct-20.7*\nMCV-82 MCH-29.1 MCHC-35.7* RDW-13.4 Plt Ct-14*\n[**2128-8-2**] 12:00AM BLOOD WBC-<0.1* RBC-2.66* Hgb-7.7* Hct-21.5*\nMCV-81* MCH-28.8 MCHC-35.7* RDW-13.3 Plt Ct-8*\n[**2128-8-6**] 12:00AM BLOOD WBC-<0.1* RBC-2.28* Hgb-6.7* Hct-18.2*\nMCV-80* MCH-29.6 MCHC-36.9* RDW-13.5 Plt Ct-5*#\n[**2128-8-10**] 05:20PM BLOOD WBC-<0.1 RBC-2.73* Hgb-7.9* Hct-22.1*\nMCV-81* MCH-29.0 MCHC-35.8* RDW-15.4 Plt Ct-13*\n[**2128-8-12**] 02:36AM BLOOD WBC-0.1* RBC-2.50* Hgb-7.2* Hct-20.2*\nMCV-81* MCH-28.9 MCHC-35.8* RDW-14.4 Plt Ct-<5*\n[**2128-8-15**] 05:22AM BLOOD WBC-0.2* RBC-2.76* Hgb-7.8* Hct-22.5*\nMCV-81* MCH-28.4 MCHC-35.0 RDW-15.2 Plt Ct-15*\n[**2128-8-18**] 03:20AM BLOOD WBC-0.5* RBC-2.81* Hgb-8.1* Hct-22.3*\nMCV-80* MCH-28.7 MCHC-36.1* RDW-15.2 Plt Ct-5*\n[**2128-8-20**] 12:38AM BLOOD WBC-0.6* RBC-2.43* Hgb-7.1* Hct-19.3*\nMCV-80* MCH-29.1 MCHC-36.6* RDW-14.9 Plt Ct-<5\n[**2128-8-22**] 01:00AM BLOOD WBC-0.5* RBC-2.44* Hgb-7.2* Hct-19.7*\nMCV-81* MCH-29.6 MCHC-36.6* RDW-14.7 Plt Ct-19*#\n[**2128-8-24**] 12:00AM BLOOD WBC-0.7* RBC-2.37* Hgb-7.2* Hct-19.4*\nMCV-82 MCH-30.4 MCHC-37.1* RDW-14.2 Plt Ct-14*#\n[**2128-8-25**] 02:00AM BLOOD WBC-1.2*# RBC-2.09* Hgb-6.3* Hct-17.4*\nMCV-83 MCH-30.2 MCHC-36.3* RDW-14.4 Plt Ct-5*#\n[**2128-8-27**] 12:00AM BLOOD WBC-2.5* RBC-2.40* Hgb-7.5* Hct-20.6*\nMCV-86 MCH-31.1 MCHC-36.3* RDW-14.2 Plt Ct-11*\n\nHEPATOBILIARY IMAGING:\n==================\nRUQ US ([**2128-3-31**]):\n1.  Biliary sludge with gallbladder and adherent stone or small\npolyp.  No biliary ductal dilation.\n2.  Normal liver.\n3.  Splenomegaly.\n\nHIDA SCAN ([**2128-6-17**]): Normal hepatobiliary scan.\n\nRUQ US [**2128-6-17**]:\n1.  Distended gallbladder filled with sludge without specific\nsigns of\ncholecystitis.  If there is clinical concern for acalculous\ncholecystitis, HIDA scan is recommended.\n2.  Splenomegaly.\n\nHIDA ([**7-20**]): Lack of tracer activity in the gallbladder is\nconsistent with acute cholecystitis.\n\nU/S ABDOMEN ([**7-20**]):\n1.  The gallbladder is distended and contains a large volume of\nsludge.  There are no obstructing calculi identified.  No\ngallbladder wall thickening to suggest inflammatory etiology.\nHowever, if there is ongoing clinical concern for cholecystitis,\na HIDA scan is recommended.\n2.  The spleen measures 14 cm, decreased compared to the\nprevious ultrasound.\n\nU/S ABDOMEN ([**8-20**]):\n1.  Percutaneous cholecystostomy tube remains in place within a\ndecompressed gallbladder without evidence of adjacent fluid\ncollection.\n2.  Splenomegaly.\n3.  Right pleural effusion.\n\nABDOMINAL IMAGING:\n==================\nCT ABDOMEN ([**2128-4-6**]):\n1.  Ascending and transverse colon wall thickening with adjacent\nstranding is compatible with colitis which may be infectious,\ninflammatory, or less likely ischemic given '}

In [14]:
len(parsed)

2126293

In [13]:
with open(os.path.join('data', 'consumed', 'metamap_input.json'), 'w') as outfile:
    json.dump(parsed, outfile)

fin

In [31]:
# def write_chunk(x):
#     # print(x)
#     row, sub, chunk, text = x
#     file_name = f'row-{row}_sub-{sub}_chunk-{chunk}_.txt'
#     file = os.path.join('data', 'metamap', file_name)
#     with open(file, 'w') as outfile:
#         outfile.write(text)

In [12]:
# df_created = pd.DataFrame({'file_name': os.listdir(os.path.join('data', 'metamap'))})
# df_created.head()

                            file_name
0  row-1000086_sub-28402_chunk-0.text
1    row-10000_sub-86502_chunk-0.text
2    row-10003_sub-84749_chunk-0.text
3     row-10004_sub-6116_chunk-0.text
4    row-10008_sub-21734_chunk-0.text

In [18]:
# df_created['file_parts'] = df_created['file_name'].str.split('_')
# df_created.head()

                            file_name                              file_parts
0  row-1000086_sub-28402_chunk-0.text  [row-1000086, sub-28402, chunk-0.text]
1    row-10000_sub-86502_chunk-0.text    [row-10000, sub-86502, chunk-0.text]
2    row-10003_sub-84749_chunk-0.text    [row-10003, sub-84749, chunk-0.text]
3     row-10004_sub-6116_chunk-0.text     [row-10004, sub-6116, chunk-0.text]
4    row-10008_sub-21734_chunk-0.text    [row-10008, sub-21734, chunk-0.text]

In [25]:
# df_created['ROW_ID'] = df_created['file_parts'].swifter.apply(lambda x: x[0].split('-')[1])
# df_created.head()

Pandas Apply:   0%|          | 0/36787 [00:00<?, ?it/s]

,file_name,file_parts,ROW_ID
0,row-1000086_sub-28402_chunk-0.text,"[row-1000086, sub-28402, chunk-0.text]",1000086
1,row-10000_sub-86502_chunk-0.text,"[row-10000, sub-86502, chunk-0.text]",10000
2,row-10003_sub-84749_chunk-0.text,"[row-10003, sub-84749, chunk-0.text]",10003
3,row-10004_sub-6116_chunk-0.text,"[row-10004, sub-6116, chunk-0.text]",10004
4,row-10008_sub-21734_chunk-0.text,"[row-10008, sub-21734, chunk-0.text]",10008

In [28]:
# # df_created['SUBJECT_ID'] = 
# # df_created['file_parts'].swifter.apply(lambda x: x[1].split('-')[1])
# df_created['file_parts'].swifter.apply(lambda x: x[1].split('-')[1]).head()
# # df_created.head()

Pandas Apply:   0%|          | 0/36787 [00:00<?, ?it/s]

IndexError: list index out of range

In [ ]:
# df_created['chunk_num'] = df_created['file_parts'].swifter.apply(lambda x: x[2].split('-')[1][0])
# df_created.head()

In [32]:
# df_split[['ROW_ID', 'SUBJECT_ID', 'chunk_num', 'chunk_text']].swifter.apply(write_chunk, axis=1)

Pandas Apply:   0%|          | 0/2126293 [00:00<?, ?it/s]

KeyboardInterrupt: